@import "tailwindcss";

@theme {
  --color-primary-50: #f8fafc;
  --color-primary-100: #f1f5f9;
  --color-primary-900: #0f172a;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-fira-code), monospace;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}
